<!DOCTYPE html>
<html lang="zh-CN" class="ua-windows ua-webkit">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="renderer" content="webkit">
    <meta name="referrer" content="always">
    <meta name="google-site-verification" content="ok0wCgT20tBBgo9_zat2iAcimtN4Ftf5ccsh092Xeyw" />
    <title>
    我看过的电影(744)
</title>

    <meta name="baidu-site-verification" content="cZdR4xxR7RxmM4zE" />
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="Sun, 6 Mar 2005 01:00:00 GMT">

    <link rel="apple-touch-icon" href="https://img3.doubanio.com/f/movie/d59b2715fdea4968a450ee5f6c95c7d7a2030065/pics/movie/apple-touch-icon.png">
    <link href="https://img3.doubanio.com/f/shire/204847ecc7d679de915c283531d14f16cfbee65e/css/douban.css" rel="stylesheet" type="text/css">
    <link href="https://img3.doubanio.com/f/shire/0b4cdb02dd620693709d9314196b617f17c2f9ea/css/separation/_all.css" rel="stylesheet" type="text/css">
    <link href="https://img3.doubanio.com/f/movie/252bef058b97005c6a41e8f1b9f7b06b84bc71b3/css/movie/base/init.css" rel="stylesheet">
    <script type="text/javascript">var _head_start = new Date();</script>
    <script type="text/javascript" src="https://img3.doubanio.com/f/movie/0495cb173e298c28593766009c7b0a953246c5b5/js/movie/lib/jquery.js"></script>
    <script type="text/javascript" src="https://img3.doubanio.com/f/shire/22ee83f45f94c7a90e73e0ee4acd18f902a6991f/js/douban.js"></script>
    <script type="text/javascript" src="https://img3.doubanio.com/f/shire/b0d3faaf7a432605add54908e39e17746824d6cc/js/separation/_all.js"></script>

    <link href="https://img3.doubanio.com/f/shire/7ff3fca4c2cba066a444f5f05c715c108ea61ef3/css/ui/mypage.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="https://img3.doubanio.com/f/shire/2c0c1c6b83f9a457b0f38c38a32fc43a42ec9bad/js/do.js" data-cfg-autoload="false"></script>

    <style type="text/css">
    .item .title {background:none #f2f4f6;}
    .list-view .highlight, .list-view .expanded{background:#f2f4f6 none;}
</style>
    <style type="text/css">img { max-width: 100%; }</style>
    <script type="text/javascript"></script>
    <link rel="stylesheet" href="https://img3.doubanio.com/misc/mixed_static/7f9d0fabbdb1fe29.css">

    <link rel="shortcut icon" href="https://img3.doubanio.com/favicon.ico" type="image/x-icon">
</head>

<body>

    <script type="text/javascript">var _body_start = new Date();</script>






    <link href="//img3.doubanio.com/dae/accounts/resources/3e96b44/shire/bundle.css" rel="stylesheet" type="text/css">



<div id="db-global-nav" class="global-nav">
  <div class="bd">

<div class="top-nav-info">
  <ul>
    <li>
    <a id="top-nav-doumail-link" href="https://www.douban.com/doumail/">豆邮</a>
    </li>
    <li class="nav-user-account">
      <a target="_blank" href="https://accounts.douban.com/passport/setting/" class="bn-more">
        <span>catch的帐号</span><span class="arrow"></span>
      </a>
      <div class="more-items">
        <table cellpadding="0" cellspacing="0">
          <tbody>
            <tr>
              <td>
                <a href="https://www.douban.com/mine/">个人主页</a>
              </td>
            </tr>
            <tr>
              <td>
                <a target="_blank" href="https://www.douban.com/mine/orders/">我的订单</a>
              </td>
            </tr>
            <tr>
              <td>
                <a target="_blank" href="https://www.douban.com/mine/wallet/">我的钱包</a>
              </td>
            </tr>
            <tr>
              <td>
                <a target="_blank" href="https://accounts.douban.com/passport/setting/">帐号管理</a>
              </td>
            </tr>
            <tr>
              <td>
                <a href="https://www.douban.com/accounts/logout?source=movie&ck=CN1H">退出</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </li>
  </ul>
</div>

  <div class="top-nav-reminder">
    <a href="https://www.douban.com/notification/" class="lnk-remind">提醒</a>
    <div id="top-nav-notimenu" class="more-items">
      <div class="bd">
        <p>加载中...</p>
      </div>
    </div>
  </div>

    <div class="top-nav-doubanapp">
  <a href="https://www.douban.com/doubanapp/app?channel=top-nav" class="lnk-doubanapp">下载豆瓣客户端</a>
  <div id="doubanapp-tip">
    <a href="https://www.douban.com/doubanapp/app?channel=qipao" class="tip-link">豆瓣 <span class="version">6.0</span> 全新发布</a>
    <a href="javascript: void 0;" class="tip-close">×</a>
  </div>
  <div id="top-nav-appintro" class="more-items">
    <p class="appintro-title">豆瓣</p>
    <p class="qrcode">扫码直接下载</p>
    <div class="download">
      <a href="https://www.douban.com/doubanapp/redirect?channel=top-nav&direct_dl=1&download=iOS">iPhone</a>
      <span>·</span>
      <a href="https://www.douban.com/doubanapp/redirect?channel=top-nav&direct_dl=1&download=Android" class="download-android">Android</a>
    </div>
  </div>
</div>




<div class="global-nav-items">
  <ul>
    <li class="">
      <a href="https://www.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-main&quot;,&quot;uid&quot;:&quot;216412178&quot;}">豆瓣</a>
    </li>
    <li class="">
      <a href="https://book.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-book&quot;,&quot;uid&quot;:&quot;216412178&quot;}">读书</a>
    </li>
    <li class="on">
      <a href="https://movie.douban.com"  data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-movie&quot;,&quot;uid&quot;:&quot;216412178&quot;}">电影</a>
    </li>
    <li class="">
      <a href="https://music.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-music&quot;,&quot;uid&quot;:&quot;216412178&quot;}">音乐</a>
    </li>
    <li class="">
      <a href="https://www.douban.com/location" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-location&quot;,&quot;uid&quot;:&quot;216412178&quot;}">同城</a>
    </li>
    <li class="">
      <a href="https://www.douban.com/group" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-group&quot;,&quot;uid&quot;:&quot;216412178&quot;}">小组</a>
    </li>
    <li class="">
      <a href="https://read.douban.com&#47;?dcs=top-nav&amp;dcm=douban" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-read&quot;,&quot;uid&quot;:&quot;216412178&quot;}">阅读</a>
    </li>
    <li class="">
      <a href="https://douban.fm&#47;?from_=shire_top_nav" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-fm&quot;,&quot;uid&quot;:&quot;216412178&quot;}">FM</a>
    </li>
    <li class="">
      <a href="https://time.douban.com&#47;?dt_time_source=douban-web_top_nav" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-time&quot;,&quot;uid&quot;:&quot;216412178&quot;}">时间</a>
    </li>
    <li class="">
      <a href="https://market.douban.com&#47;?utm_campaign=douban_top_nav&amp;utm_source=douban&amp;utm_medium=pc_web" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-market&quot;,&quot;uid&quot;:&quot;216412178&quot;}">豆品</a>
    </li>
  </ul>
</div>

  </div>
</div>
<script>
  ;window._GLOBAL_NAV = {
    USER_ID: "216412178",
    UPLOAD_AUTH_TOKEN: "216412178:d43e6bf5b1ee5716a234af6bf0141a01c41ac5eb",
    SSE_TOKEN: "c1d17238c906a1c33fb3ebdd130222b2954d0b14",
    SSE_TIMESTAMP: "1649685837",
    DOUBAN_URL: "https://www.douban.com",
    N_NEW_NOTIS: 0,
    N_NEW_DOUMAIL: 0
  };
</script>



    <script src="//img3.doubanio.com/dae/accounts/resources/3e96b44/shire/bundle.js" defer="defer"></script>








    <link href="//img3.doubanio.com/dae/accounts/resources/3e96b44/movie/bundle.css" rel="stylesheet" type="text/css">




<div id="db-nav-movie" class="nav">
  <div class="nav-wrap">
  <div class="nav-primary">
    <div class="nav-logo">
      <a href="https:&#47;&#47;movie.douban.com">豆瓣电影</a>
    </div>
    <div class="nav-search">
      <form action="https:&#47;&#47;search.douban.com&#47;movie/subject_search" method="get">
        <fieldset>
          <legend>搜索：</legend>
          <label for="inp-query">
          </label>
          <div class="inp"><input id="inp-query" name="search_text" size="22" maxlength="60" placeholder="搜索电影、电视剧、综艺、影人" value=""></div>
          <div class="inp-btn"><input type="submit" value="搜索"></div>
          <input type="hidden" name="cat" value="1002" />
        </fieldset>
      </form>
    </div>
  </div>
  </div>
  <div class="nav-secondary">


<div class="nav-items">
  <ul>
    <li    ><a href="https://movie.douban.com/mine"
     >我看</a>
    </li>
    <li    ><a href="https://movie.douban.com/cinema/nowplaying/"
     >影讯&购票</a>
    </li>
    <li    ><a href="https://movie.douban.com/explore"
     >选电影</a>
    </li>
    <li    ><a href="https://movie.douban.com/tv/"
     >电视剧</a>
    </li>
    <li    ><a href="https://movie.douban.com/chart"
     >排行榜</a>
    </li>
    <li    ><a href="https://movie.douban.com/tag/"
     >分类</a>
    </li>
    <li    ><a href="https://movie.douban.com/review/best/"
     >影评</a>
    </li>
    <li    ><a href="https://movie.douban.com/annual/2021?source=navigation"
     >2021年度榜单</a>
    </li>
    <li    ><a href="https://www.douban.com/standbyme/2021?fullscreen=true&hidenav=true&autorotate=false&source=movie_navigation"
            target="_blank"
     >2021书影音报告</a>
    </li>
  </ul>
</div>

    <a href="https://movie.douban.com/annual/2021?source=movie_navigation" class="movieannual"></a>
  </div>
</div>

<script id="suggResult" type="text/x-jquery-tmpl">
  <li data-link="{{= url}}">
            <a href="{{= url}}" onclick="moreurl(this, {from:'movie_search_sugg', query:'{{= keyword }}', subject_id:'{{= id}}', i: '{{= index}}', type: '{{= type}}'})">
            <img src="{{= img}}" width="40" />
            <p>
                <em>{{= title}}</em>
                {{if year}}
                    <span>{{= year}}</span>
                {{/if}}
                {{if sub_title}}
                    <br /><span>{{= sub_title}}</span>
                {{/if}}
                {{if address}}
                    <br /><span>{{= address}}</span>
                {{/if}}
                {{if episode}}
                    {{if episode=="unknow"}}
                        <br /><span>集数未知</span>
                    {{else}}
                        <br /><span>共{{= episode}}集</span>
                    {{/if}}
                {{/if}}
            </p>
        </a>
        </li>
  </script>




    <script src="//img3.doubanio.com/dae/accounts/resources/3e96b44/movie/bundle.js" defer="defer"></script>






    <div id="wrapper">



    <div id="content">













    <div id="db-usr-profile">
        <div class="pic">
            <a href="/people/216412178/">
                <img height="48" width="48" alt="catch" src="https://img2.doubanio.com/icon/u216412178-2.jpg" />
            </a>
        </div>
        <div class="info">
            <h1>我看过的电影(744)</h1>
            <ul>

        <li><a href="/people/216412178/">电影主页</a></li>


        <li><a href="/people/216412178/reviews">影评</a></li>


        <li><a href="/people/216412178/question">问答</a></li>


        <li><a href="/people/216412178/do">在看</a></li>


        <li><a href="/people/216412178/wish">想看</a></li>


        <li><a href="/people/216412178/collect">看过</a></li>


        <li><a href="https://www.douban.com/people/216412178/doulists">豆列</a></li>


        <li><a href="https://www.douban.com/people/216412178/subject_doulists/movie">片单</a></li>


        <li><a href="https://movie.douban.com/ticket/mine">电影票</a></li>


        <li><a href="https://movie.douban.com/notifications">电影提醒</a></li>


        <li><a href="/settings/">设置</a></li>


        <li class="sep">|</li>


        <li><a href="https://www.douban.com/people/216412178/">豆瓣主页</a></li>

            </ul>
        </div>
    </div>


        <div class="grid-16-8 clearfix">


            <div class="article">



    <div class="opt-bar mb30 clearfix">
        <div class="sort">

                按时间排序<span class="gray-dot">·</span><a href="/people/216412178/collect?sort=rating&amp;start=0&amp;mode=grid&amp;tags_sort=count" class="ck-option" target="_self">按评价排序</a><span class="gray-dot">·</span><a href="/people/216412178/collect?sort=title&amp;start=0&amp;mode=grid&amp;tags_sort=count" class="ck-option" target="_self">按标题排序</a>
        </div>
        <style>
            .tabs-more {zoom:1; float:left; margin-left:38px; position: relative; top:3px}
            .tabs-more .gray {color:#999}
            .tabs-more .lnk-tab-more{padding-right:5px;background:#fff;}
            .tabs-more .lnk-tab-more:hover{background:#369;}
            .tabs-more .lnk-tab-more span{background: url("/pics/icon/tongcheng_tab_down.gif") no-repeat right 3px;padding-right:10px;display:inline-block}
            .tabs-more .lnk-tab-more span.up{background: url("/pics/icon/tongcheng_tab_up.gif") no-repeat right 3px;padding-right:10px;}
            .tabs-more .lnk-tab-more:hover span{color:#fff;background: url("/pics/icon/tongcheng_tab_down.gif") no-repeat right -8px;}
            .tabs-more .lnk-tab-more:hover span.up{background: url("/pics/icon/tongcheng_tab_up.gif") no-repeat right -8px;}
            .tabs-more ul {display:none;position:absolute; background:#fff; border:1px solid #aaa; padding:5px 0; left:55px;_left:53px;_top:19px; top:18px; width:70px}
            .tabs-more ul li a {display:block;text-align:center; padding:3px 5px;margin:0}
            .tabs-more ul li{margin:0; zoom:1}
            .tabs-more ul li a:hover {background:#369; color:#fff; }

            .item .info li {clear: both;}
            .item .info li.intro {
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 4;
                -webkit-box-orient: vertical;
            }
            .item .title .playable {font-size: 13px; padding-left: 3px; color: #00A65F;}

            .grid-view .item {overflow:auto; display:table; width: 100%; zoom:1}
            .grid-view .item > .pic, .grid-view .item > .info {display: table-cell;vertical-align: top;float:initial;}
            .grid-view .item .tabs-more {margin-left:0;}
            .grid-view .item .tabs-more span {color:#369;}
            .grid-view .item .lnk-tab-more:hover span {color:#fff;}
            .grid-view .item .clearDiv {clear:both}
            .grid-view .item .tabs-more ul{left:0;margin-left:0}
            .grid-view .item .comment {color:#000;}

            .list-view .item {overflow:auto;display:table;width:100%; zoom:1}
            .list-view .item .tabs-more{margin-left:0; margin-top:4px}
            .list-view .item .tags{display:block;clear:both}
            .list-view .item .tabs-more ul{left:0}
            .list-view .item-show{height:17px;overflow:hidden}
            .list-view .opt-ln {clear:both;margin-left:3px}
            .list-view .comment {clear:both;}
            .list-view .movieInfo {margin-top:4px;*margin-top:3px}

        </style>
        <script>
            $(function(){
                $(".lnk-tab-more").click(function(){
                    $(this).next(".tabs-more-list").show();
                    $("span",this).addClass("up");
                    return false;
                })
                $(document.body).click(function(e){
                    if($(e.target).parent().attr("class")!=="lnk-tab-more"){
                        $(".tabs-more-list").hide();
                        $("span.up").removeClass("up");
                    }
                })
            })
        </script>
        <div class="tabs-more">

            <span class="gray">筛选影片:</span>
            <a class="lnk-tab-more" href="#">
                <span>全部</span>
            </a>
            <ul class="tabs-more-list">
                <li><a href="/people/216412178/collect?sort=time&amp;amp;start=0&amp;amp;filter=schedule&amp;amp;mode=grid&amp;amp;tags_sort=count">正在热映</a></li>
                <li><a href="/people/216412178/collect?sort=time&amp;amp;start=0&amp;amp;filter=video&amp;amp;mode=grid&amp;amp;tags_sort=count">在线观看</a></li>
            </ul>
        </div>
        <div class="mode">
            <span class="subject-num">
                106-120&nbsp;/&nbsp;744
            </span>
            <ul class="grid-list-bar">

                    <li class="grid-on">grid</li>
                    <li class="list">
                        <a href="/people/216412178/collect?sort=time&amp;amp;start=105&amp;amp;filter=all&amp;amp;mode=list&amp;amp;tags_sort=count">list</a>
                    </li>
            </ul>
        </div>
    </div>



<script type="text/javascript">
$(function() {
    $('.d_link').click(function() {
        $(this).parents("div.item").hide();
        var url = "/j/mine/j_cat_ui";
        if (/\/location\//.test(location.href)) {
            url = "/location" + url;
        }
        $.post_withck(url, {sid: this.rel},
            function(sjson) {
                var ret = eval("(" + sjson + ")");
                if (!ret.result) {
                    alert("出错了，请稍后重试!");
                }
        });
    });
})
</script>


<div class="grid-view">


        <div class="item" >
            <div class="pic">
                <a title="F9: The Fast Saga" href="https://movie.douban.com/subject/25728006/" class="nbg">
                    <img alt="F9: The Fast Saga" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2640611704.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/25728006/" class="">
                            <em>速度与激情9 / F9: The Fast Saga</em>
                             / F9狂野时速(港) / 玩命关头9(台)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2021-05-19(韩国) / 2021-05-21(中国大陆) / 2021-06-25(美国) / 范·迪塞尔 / 约翰·塞纳 / 米歇尔·罗德里格兹 / 乔丹娜·布鲁斯特 / 泰瑞斯·吉布森 / 卢达·克里斯 / 查理兹·塞隆 / 海伦·米伦 / 姜成镐 / 娜塔莉·伊曼纽尔 / 迈克尔·鲁克 / 卢卡斯·布莱克 / 杜俊纬 / 卡迪·B / 吉姆·帕拉克 / 芬恩·科尔 / 安珀·西耶娜 / 马丁·福特 / 艾拉·沃克 / 泽井杏奈 / 图厄·埃尔斯特德·拉斯姆森 / 米拉吉·格尔比克 / 吉米·斯达 / 莱克斯·艾尔 / 温尼·贝内特 / 马克·克雷尼克 / 杰森·斯坦森 / 库尔特·拉塞尔 / 谢伊·惠格姆 / 弗朗西斯·纳干诺 / 美国 / 林诣彬 / 142分钟(中国大陆) / 145分钟 / 150(导演剪辑版) / 速度与激情9 / 动作 / 犯罪 / 丹·凯西 Daniel Casey / 盖瑞·斯科特·汤普森 Gary Scott Thompson / 英语</li>
                    <li>
                                    <span class="rating1-t"></span>
                        <span class="date">2021-08-22</span>

                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-25728006" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="25728006:P" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>


        <div class="item" >
            <div class="pic">
                <a title="扫黑风暴" href="https://movie.douban.com/subject/35202793/" class="nbg">
                    <img alt="扫黑风暴" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2623884456.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/35202793/" class="">
                            <em>扫黑风暴</em>
                             / Crime Crackdown
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2021-08-09(中国大陆) / 孙红雷 / 张艺兴 / 刘奕君 / 吴越 / 江疏影 / 王志飞 / 刘之冰 / 吴晓亮 / 宁理 / 车晓 / 苏可 / 谭凯 / 侯长荣 / 孙浩 / 周晓鸥 / 王骏迪 / 周知 / 赵小锐 / 郑晓宁 / 姜瑞佳 / 葛四 / 孙筱钧 / 齐超 / 李飞 / 赵卫国 / 郭秋成 / 张弓 / 文予琪 / 刘扬 / 王妍之 / 张皓然 / 杨雨潼 / 张浩天 / 刘柠昊 / 单思杰 / 陈芷琰 / 曹艳艳 / 杨奇雨 / 周凯文 / 田璐 / 成止微 / 项洪 / 周涌海 / 李先亮 / 周宸阳 / 常铖 / 栾茗媛 / 丁志勇 / 张继南 / 朱怀旭 / 付美 / 赵晓光 / 曹阳 / 单文彬 / 吕昕 / 姜寒 / 冯晓江 / 中国大陆 / 五百 / 王斯阳 / 44分钟 / 剧情 / 犯罪 / 祖若蒙 Ruomeng Zu / 于小千 Xiaoqian Yu / 佟睦 Mu Tong / 汉语普通话</li>
                    <li>
                                    <span class="rating3-t"></span>
                        <span class="date">2021-08-22</span>

                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-35202793" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="35202793:P" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>


        <div class="item" >
            <div class="pic">
                <a title="你是我的荣耀" href="https://movie.douban.com/subject/33454980/" class="nbg">
                    <img alt="你是我的荣耀" src="https://img2.doubanio.com/view/photo/s_ratio_poster/public/p2669942342.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/33454980/" class="">
                            <em>你是我的荣耀</em>
                             / You Are My Glory
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2021-07-26(中国大陆) / 迪丽热巴 / 杨洋 / 潘粤明 / 胡可 / 王彦霖 / 郑合惠子 / 金晨 / 吴倩 / 高露 / 涂松岩 / 季肖冰 / 孙雅丽 / 刘家祎 / 张艺文 / 赵柯迪 / 崔奕 / 郭彤彤 / 宁晓志 / 刘威龙 / 杨晋恒 / 倪言 / 陈鹤一 / 杨叙辰 / 叶小开 / 朱怀旭 / 郑小毛 / 洪卫 / 赵樱子 / 袁成杰 / 郑晓宁 / 王全有 / 中国大陆 / 王之 / 35分钟 / 爱情 / 顾漫 Man Gu / 汉语普通话</li>
                    <li>
                                    <span class="rating1-t"></span>
                        <span class="date">2021-07-30</span>

                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-33454980" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="33454980:P" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>


        <div class="item" >
            <div class="pic">
                <a title="北辙南辕" href="https://movie.douban.com/subject/35135955/" class="nbg">
                    <img alt="北辙南辕" src="https://img2.doubanio.com/view/photo/s_ratio_poster/public/p2670154181.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/35135955/" class="">
                            <em>北辙南辕</em>

                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2021-07-11(中国大陆) / 蓝盈莹 / 金晨 / 啜妮 / 隋源 / 王珞丹 / 韩庚 / 郑业成 / 朱雨辰 / 杨旭文 / 王阳 / 刘凯 / 王萌黎 / 刘海蓝 / 赵阳 / 刘晓庆 / 岳跃利 / 朱时茂 / 丁志城 / 徐帆 / 张绍刚 / 刘效松 / 宋丹丹 / 黄渤 / 任素汐 / 朱一龙 / 张一山 / 周延 / 蒋依依 / 高曙光 / 张晞临 / 于波 / 李解 / 捞仔 / 马上又 / 栾树 / 傅首尔 / 王钧 / 龚宇 / 冯小刚 / 王可如 / 林静 / 李丞峰 / 李祉默 / 葛四 / 张兴泽 / 王艺默 / 弗雷德里克·叶德斯特罗姆 / 中国大陆 / 冯小刚 / 50分钟 / 剧情 / 陈枰 Ping Chen / 汉语普通话</li>
                    <li>
                                    <span class="rating2-t"></span>
                        <span class="date">2021-07-26</span>

                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-35135955" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="35135955:P" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>


        <div class="item" >
            <div class="pic">
                <a title="超越" href="https://movie.douban.com/subject/34917447/" class="nbg">
                    <img alt="超越" src="https://img1.doubanio.com/view/photo/s_ratio_poster/public/p2658143548.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/34917447/" class="">
                            <em>超越</em>
                             / 极速超越 / Never Stop
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2021-06-12(中国大陆) / 郑恺 / 李昀锐 / 曹炳琨 / 张蓝心 / 张榕容 / 李晨 / 金靖 / 李宁 / 田雨 / 范志毅 / 曾文铄 / 中国大陆 / 韩博文 / 98分钟 / 剧情 / 喜剧 / 运动 / 甲子复 / 汉语普通话</li>
                    <li>
                                    <span class="rating1-t"></span>
                        <span class="date">2021-07-24</span>

                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-34917447" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="34917447:P" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>


        <div class="item" >
            <div class="pic">
                <a title="移情高手" href="https://movie.douban.com/subject/30476403/" class="nbg">
                    <img alt="移情高手" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2631711996.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/30476403/" class="">
                            <em>移情高手</em>
                             / 移情大师
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2021-01-29(中国大陆) / 王智 / 高晓攀 / 于莎莎 / 衣云鹤 / 黄奕 / 迟帅 / 吕颂贤 / 颜丹晨 / 克拉拉 / 巴多 / 谭飞 / 中国大陆 / 郑来志 / 97分钟 / 喜剧 / 爱情 / 郑来志 Laizhi Zheng / 刘宇 Yu Liu / 杨啸 Xiao Yang / 孙天禾 Tianhe Sun / 汉语普通话</li>
                    <li>
                                    <span class="rating1-t"></span>
                        <span class="date">2021-07-04</span>

                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-30476403" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="30476403:P" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>


        <div class="item" >
            <div class="pic">
                <a title="悬崖之上" href="https://movie.douban.com/subject/32493124/" class="nbg">
                    <img alt="悬崖之上" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2636475385.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/32493124/" class="">
                            <em>悬崖之上</em>
                             / Impasse / Cliff Walkers
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2021-04-30(中国大陆) / 张译 / 于和伟 / 秦海璐 / 朱亚文 / 刘浩存 / 倪大红 / 李乃文 / 余皑磊 / 飞凡 / 雷佳音 / 沙溢 / 韩昊霖 / 赵毅 / 安冬 / 松天硕 / 丁子迪 / 陈语桐 / 牛晓宁 / 燕磊 / 袁红阳 / 逯长恩 / 马睿瀚 / 纪焕博 / 芮丹尼 / 陈永胜 / 王乃训 / 冯瓅 / 曹瑞 / 白恩 / 封新天 / 齐羽嘉 / 中国大陆 / 中国香港 / 张艺谋 / 120分钟 / 剧情 / 动作 / 悬疑 / 全勇先 Yongxian Quan / 张艺谋 Yimou Zhang / 汉语普通话 / 英语 / 俄语</li>
                    <li>
                                    <span class="rating4-t"></span>
                        <span class="date">2021-06-27</span>

                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-32493124" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="32493124:P" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>


        <div class="item" >
            <div class="pic">
                <a title="阳光劫匪" href="https://movie.douban.com/subject/26933158/" class="nbg">
                    <img alt="阳光劫匪" src="https://img1.doubanio.com/view/photo/s_ratio_poster/public/p2640054179.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/26933158/" class="">
                            <em>阳光劫匪</em>
                             / 阳光不是劫匪 / 亲爱的老虎
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2021-05-01(中国大陆) / 马丽 / 宋佳 / 文文 / 张海宇 / 谢锐韬 / 曾志伟 / 沙溢 / 杨迪 / 詹瑞文 / 方励 / 袁川航 / 中国大陆 / 李玉 / 107分钟 / 喜剧 / 奇幻 / 李玉 Yu Li / 方励 Li Fang / 汉语普通话</li>
                    <li>
                                    <span class="rating1-t"></span>
                        <span class="date">2021-06-15</span>

                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-26933158" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="26933158:P" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>


        <div class="item" >
            <div class="pic">
                <a title="追虎擒龙" href="https://movie.douban.com/subject/32493666/" class="nbg">
                    <img alt="追虎擒龙" src="https://img2.doubanio.com/view/photo/s_ratio_poster/public/p2640758773.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/32493666/" class="">
                            <em>追虎擒龙</em>
                             / 金钱帝国：巅峰之战 / 金钱帝国2
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2021-05-01(中国大陆) / 古天乐 / 梁家辉 / 吴镇宇 / 林家栋 / 姜皓文 / 胡然 / 郑则仕 / 蔡洁 / 林子善 / 刘浩龙 / 何浩文 / 黄浩然 / 龚慈恩 / 李天翔 / 中国香港 / 中国大陆 / 王晶 / 许悦铭 / 105分钟 / 剧情 / 动作 / 犯罪 / 王晶 Jing Wong / 陈健鸿 Ronald Kin Hung Chan / 吕冠南 Koon-Nam Lui / 许悦铭 Woody Hui / 粤语 / 汉语普通话</li>
                    <li>
                                    <span class="rating2-t"></span>
                        <span class="date">2021-06-14</span>

                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-32493666" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="32493666:P" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>


        <div class="item" >
            <div class="pic">
                <a title="猎狼者" href="https://movie.douban.com/subject/35133009/" class="nbg">
                    <img alt="猎狼者" src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2651774480.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/35133009/" class="">
                            <em>猎狼者</em>
                             / 狂猎
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2021-05-24(中国大陆) / 秦昊 / 尹昉 / 黄子星 / 沈佳妮 / 尹铸胜 / 余皑磊 / 赵魏 / 隋咏良 / 何晨 / 贾宏伟 / 韩秋池 / 王翌舟 / 杨奇雨 / 郑伟 / 曲高位 / 曲栅栅 / 赵昭仪 / 姬他 / 中国大陆 / 曹盾 / 高翔 / 荆冲 / 61分钟 / 剧情 / 犯罪 / 顾浩然 Haoran Gu / 高鹏 / 汉语普通话</li>
                    <li>
                                    <span class="rating3-t"></span>
                        <span class="date">2021-06-13</span>

                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-35133009" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="35133009:P" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>


        <div class="item" >
            <div class="pic">
                <a title="赘婿" href="https://movie.douban.com/subject/27148168/" class="nbg">
                    <img alt="赘婿" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2633779065.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/27148168/" class="">
                            <em>赘婿</em>
                             / My Heroic Husband
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2021-02-14(中国大陆) / 郭麒麟 / 宋轶 / 蒋依依 / 高曙光 / 海一天 / 尚语贤 / 朱珠 / 张若昀 / 田雨 / 岳旸 / 刘冠麟 / 冯晖 / 王成思 / 叶项明 / 赵柯 / 曹曦月 / 刘已航 / 钱波 / 黄澄澄 / 李彧 / 戴向宇 / 胡丹丹 / 沈浩 / 崔鹏 / 王丽娜 / 温海波 / 姚一奇 / 魏子昕 / 鹿骐 / 刘小北 / 姜健 / 张晓晨 / 樊昱君 / 郭泱 / 张净桐 / 刘金龙 / 中国大陆 / 邓科 / 45分钟 / 剧情 / 古装 / 秦雯 Wen Qin / 汉语普通话</li>
                    <li>
                                    <span class="rating3-t"></span>
                        <span class="date">2021-05-30</span>

                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-27148168" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="27148168:P" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>


        <div class="item" >
            <div class="pic">
                <a title="日不落酒店" href="https://movie.douban.com/subject/27098602/" class="nbg">
                    <img alt="日不落酒店" src="https://img2.doubanio.com/view/photo/s_ratio_poster/public/p2634744472.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/27098602/" class="">
                            <em>日不落酒店</em>
                             / Overall Planning
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2021-03-19(中国大陆) / 黄才伦 / 张慧雯 / 沈腾 / 高叶 / 张晔子 / 陶亮 / 孙珍妮 / 何子君 / 陶海 / 刘背实 / 张琛 / 李唯贺 / 辣目洋子 / 寇振海 / 陈炜 / 柯南·何裴 / 张鑫 / 于小鸣 / 张炜迅 / 姜伊然 / 中国大陆 / 冯一平 / 刘峻萌 / 郝心悦 / 106分钟 / 喜剧 / 冯一平 Yiping Feng / 刘峻萌 Junmeng Liu / 郝心悦 Xinyue Hao / 汉语普通话</li>
                    <li>
                                    <span class="rating1-t"></span>
                        <span class="date">2021-05-30</span>

                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-27098602" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="27098602:P" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>


        <div class="item" >
            <div class="pic">
                <a title="真·三国无双" href="https://movie.douban.com/subject/26747869/" class="nbg">
                    <img alt="真·三国无双" src="https://img2.doubanio.com/view/photo/s_ratio_poster/public/p2644869903.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/26747869/" class="">
                            <em>真·三国无双</em>
                             / 真三国无双电影版 / 三国无双
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2021-04-29(中国香港) / 2021-05-01(中国大陆) / 古天乐 / 王凯 / 杨祐宁 / 韩庚 / 古力娜扎 / 刘嘉玲 / 吕良伟 / 林雪 / 姜皓文 / 张建声 / 张兆辉 / 罗家英 / 王梓轩 / 法志远 / 宁小花 / 秦沛 / 杨紫彤 / 陈之辉 / 王志华 / 晋松 / 袁文康 / 李凯贤 / 张博豪 / 张艺骞 / 宋撼寰 / 鄂靖文 / 阳光 / 周显扬 / 中国大陆 / 中国香港 / 周显扬 / 117分钟 / 动作 / 奇幻 / 古装 / 杜致朗 Chi-long To / 汉语普通话 / 粤语</li>
                    <li>
                                    <span class="rating1-t"></span>
                        <span class="date">2021-05-29</span>

                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-26747869" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="26747869:P" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>


        <div class="item" >
            <div class="pic">
                <a title="扫黑·决战" href="https://movie.douban.com/subject/35164328/" class="nbg">
                    <img alt="扫黑·决战" src="https://img2.doubanio.com/view/photo/s_ratio_poster/public/p2634025511.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/35164328/" class="">
                            <em>扫黑·决战</em>
                             / 扫黑·两面人 / Break Through the Darkness
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2021-05-01(中国大陆) / 姜武 / 张颂文 / 金世佳 / 李倩 / 赵毅 / 焦刚 / 尤勇智 / 刘琳 / 白志迪 / 王丽云 / 钱波 / 王佳佳 / 董博睿 / 徐可珑 / 张康乐 / 阿如那 / 蒋雪鸣 / 陈进 / 宗俊涛 / 涂圣成 / 王浩丞 / 吴双 / 范诗然 / 柳俊岐 / 秦海 / 钱漪 / 张天舒 / 王欣嘉 / 贾凤柱 / 王若溪 / 顾语涵 / 王峰 / 王建龙 / 张海怡 / 王静宇 / 中国大陆 / 吕聿来 / 112分钟 / 剧情 / 动作 / 犯罪 / 樊菁 Jing Fan / 蒋丽华 Lihua Jiang / 吕聿来 Yulai Lu / 岳小军 Xiaojun Yue / 汉语普通话</li>
                    <li>
                                    <span class="rating2-t"></span>
                        <span class="date">2021-05-29</span>

                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-35164328" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="35164328:P" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>


        <div class="item" >
            <div class="pic">
                <a title="人潮汹涌" href="https://movie.douban.com/subject/34880302/" class="nbg">
                    <img alt="人潮汹涌" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2632862664.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/34880302/" class="">
                            <em>人潮汹涌</em>
                             / End Game / Endgame
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2021-02-12(中国大陆) / 刘德华 / 肖央 / 万茜 / 程怡 / 黄小蕾 / 国义骞 / 狄志杰 / 郭京飞 / 刘天佐 / 路阳 / 郭帆 / 刘浩良 / 饶晓志 / 雷佳音 / 史航 / 魏之皓 / 王学兵 / 林海 / 隋凯 / 卫莱 / 赵一龙 / 谢承颖 / 徐朝英 / 宿树合 / 张占义 / 王戈 / 张庆庆 / 廖拟 / 赵梓冲 / 冯悠苒 / 廖健 / 朱超艺 / 侯玮涛 / 丁紫宸 / 李路琦 / 张宁 / 顾晓东 / 王子川 / 吴恩璇 / 中国大陆 / 中国香港 / 饶晓志 / 119分钟 / 喜剧 / 犯罪 / 饶晓志 Xiaozhi Rao / 范翔 Xiang Fan / 李想 / 汉语普通话</li>
                    <li>
                                    <span class="rating3-t"></span>
                        <span class="date">2021-05-02</span>

                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-34880302" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="34880302:P" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
</div>






        <div class="paginator">
        <span class="prev">
            <link rel="prev" href="/people/216412178/collect?start=90&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid"/>
            <a href="/people/216412178/collect?start=90&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid" >&lt;前页</a>
        </span>




            <a href="/people/216412178/collect?start=0&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid" >1</a>


            <a href="/people/216412178/collect?start=15&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid" >2</a>


            <a href="/people/216412178/collect?start=30&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid" >3</a>


            <a href="/people/216412178/collect?start=45&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid" >4</a>


            <a href="/people/216412178/collect?start=60&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid" >5</a>


            <a href="/people/216412178/collect?start=75&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid" >6</a>


            <a href="/people/216412178/collect?start=90&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid" >7</a>

                <span class="thispage" data-total-page="50">8</span>

            <a href="/people/216412178/collect?start=120&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid" >9</a>


            <a href="/people/216412178/collect?start=135&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid" >10</a>


            <a href="/people/216412178/collect?start=150&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid" >11</a>


            <a href="/people/216412178/collect?start=165&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid" >12</a>

            <span class="break">...</span>

            <a href="/people/216412178/collect?start=720&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid" >49</a>

            <a href="/people/216412178/collect?start=735&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid" >50</a>

        <span class="next">
            <link rel="next" href="/people/216412178/collect?start=120&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid"/>
            <a href="/people/216412178/collect?start=120&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid" >后页&gt;</a>
        </span>

        </div>



            </div>
            <div class="aside">





<div class="side-info">
    <a href="https://www.douban.com/people/216412178/" class="side-info-avatar"><img height="48" width="48" alt="catch" src="https://img2.doubanio.com/icon/u216412178-2.jpg" /></a>
    <div class="side-info-txt">
        <h3>catch</h3>
        &gt;&nbsp;<a href="https://www.douban.com/people/216412178/">豆瓣主页</a>
    </div>
    <div class="user-content">
    </div>
</div>

    <div class="mod">
        <p class="pl2 m0">
            &gt; <a href="/people/216412178/">我的电影主页</a>
        </p>
    </div>

    <h2>
        看过的标签
            &nbsp;&middot;&nbsp;&middot;&nbsp;&middot;&nbsp;&middot;&nbsp;&middot;&nbsp;&middot;
    </h2>



<div class="opt-bar mb15 clearfix">
    <div class="sort">

        按标签量排序<span class="gray-dot">·</span><a href="/people/216412178/collect?sort=time&amp;start=105&amp;filter=all&amp;mode=grid&amp;tags_sort=name">按首字母排序</a>
    </div>
</div>
<ul class="tag-list mb10">

</ul>


<script>
$(function () {
    var TAG_URL_PARAMS = {"sort":"time","tags_sort":"name","filter":"all","mode":"grid"};
    $('#open_tags').click(function() {
        var $btn = $(this);
        var $container = $("ul.tag-list");
        var $tmpl = $container.find("li").first();

        $.get("/j/people/216412178/get_collection_tags", {
            offset: 90,
            tags_sort: "count",
            cat_id: "1002",
            action: "collect"
        }, function (res) {
            var tagUrl, newEl;

            $(res).each(function (i, tagInfo) {
                TAG_URL_PARAMS["tag"] = tagInfo.tag;
                tagUrl = "/people/216412178/collect?" + $.param(TAG_URL_PARAMS);
                newEl = $tmpl.clone();
                if (tagInfo.tag === "None") {
                    newEl.addClass("on");
                }
                newEl.find('a').attr("href", tagUrl)
                                .attr("title", tagInfo.tag)
                                .html(tagInfo.tag)
                     .end()
                     .find("span").html(tagInfo.count)
                     .end().appendTo($container);
            });
            $btn.remove();
        }, "json");
    });
});
</script>


            </div>
            <div class="extra">

            </div>
        </div>
    </div>


    <div id="footer">
            <div class="footer-extra"></div>

<span id="icp" class="fleft gray-link">
    &copy; 2005－2022 douban.com, all rights reserved 北京豆网科技有限公司
</span>

<a href="https://www.douban.com/hnypt/variformcyst.py" style="display: none;"></a>

<span class="fright">
    <a href="https://www.douban.com/about">关于豆瓣</a>
    · <a href="https://www.douban.com/jobs">在豆瓣工作</a>
    · <a href="https://www.douban.com/about?topic=contactus">联系我们</a>
    · <a href="https://www.douban.com/about/legal">法律声明</a>

    · <a href="https://help.douban.com/?app=movie" target="_blank">帮助中心</a>
    · <a href="https://www.douban.com/doubanapp/">移动应用</a>
    · <a href="https://www.douban.com/partner/">豆瓣广告</a>
</span>

    </div>

    </div>
    <!-- COLLECTED JS -->













<script type="text/javascript">
var _paq = _paq || [];
_paq.push(['trackPageView']);
_paq.push(['enableLinkTracking']);
(function() {
    var p=(('https:' == document.location.protocol) ? 'https' : 'http'), u=p+'://fundin.douban.com/';
    _paq.push(['setTrackerUrl', u+'piwik']);
    _paq.push(['setSiteId', '100001']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript';
    g.defer=true;
    g.async=true;
    g.src=p+'://img3.doubanio.com/dae/fundin/piwik.js';
    s.parentNode.insertBefore(g,s);
})();
</script>

<script type="text/javascript">
var setMethodWithNs = function(namespace) {
  var ns = namespace ? namespace + '.' : ''
    , fn = function(string) {
        if(!ns) {return string}
        return ns + string
      }
  return fn
}

var gaWithNamespace = function(fn, namespace) {
  var method = setMethodWithNs(namespace)
  fn.call(this, method)
}

var _gaq = _gaq || []
  , accounts = [
      { id: 'UA-7019765-1', namespace: 'douban' }
    , { id: 'UA-7019765-19', namespace: '' }
    ]
  , gaInit = function(account) {
      gaWithNamespace(function(method) {
        gaInitFn.call(this, method, account)
      }, account.namespace)
    }
  , gaInitFn = function(method, account) {
      _gaq.push([method('_setAccount'), account.id]);
      _gaq.push([method('_setSampleRate'), '5']);


  _gaq.push([method('_addOrganic'), 'google', 'q'])
  _gaq.push([method('_addOrganic'), 'baidu', 'wd'])
  _gaq.push([method('_addOrganic'), 'soso', 'w'])
  _gaq.push([method('_addOrganic'), 'youdao', 'q'])
  _gaq.push([method('_addOrganic'), 'so.360.cn', 'q'])
  _gaq.push([method('_addOrganic'), 'sogou', 'query'])
  if (account.namespace) {
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣'])
    _gaq.push([method('_addIgnoredOrganic'), 'douban'])
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣网'])
    _gaq.push([method('_addIgnoredOrganic'), 'www.douban.com'])
  }

      if (account.namespace === 'douban') {
        _gaq.push([method('_setDomainName'), '.douban.com'])
      }

        _gaq.push([method('_setCustomVar'), 1, 'responsive_view_mode', 'desktop', 3])

        _gaq.push([method('_setCustomVar'), 2, 'login_status', '1', 2]);

      _gaq.push([method('_trackPageview')])
    }

for(var i = 0, l = accounts.length; i < l; i++) {
  var account = accounts[i]
  gaInit(account)
}


;(function() {
    var ga = document.createElement('script');
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    ga.setAttribute('async', 'true');
    document.documentElement.firstChild.appendChild(ga);
})()
</script>










    <!-- dae-web-movie--default-7556594c69-7g2qk-->

  <script>_SPLITTEST=''</script>
</body>

</html>


